{{assign 'strAmt' (getStarCode product)}}
<div class="five-star-container">
    <div class="star-holder">
        {{#each (range @root.strAmt.[0])}}
        {{> icons/starFull}}
        {{/each}}
        {{#each (range @root.strAmt.[1])}}
        {{> icons/starHalf}}
        {{/each}}
        {{#each (range @root.strAmt.[2])}}
        {{>icons/starEmpty}}
        {{/each}}
    </div>
    {{#unless doNotRenderN}}
    <span> ({{product.productInfo.rating.n}})</span>
    {{/unless}}
</div>