<script src="/js/nav.js"></script>
<nav class='main-nav'>
	<nav class='main-nav-subnav'>
		<a href="/help" class="user-button">Help</a>
		{{#if user}}
		{{#if (eq user.accessLevel 11)}}
		<a href="/admin#dashboard" class="user-button">Admin</a>
		{{/if}}
		{{#if 0}}
		<a href="/user/gear" class="user-button">Gear</a>
		{{/if}}
		<a href='/user/account' class='user-button'>Account</a>
		<a href='/user/logout' class='user-button'>Logout</a>
		{{else}}
		<a href='/user/login' class='user-button'>Login</a>
		{{/if}}
	</nav>
	<nav class='main-nav-main'>
		<a class='logo-container' href='/'>
			<img src='https://d1dfp97r2mlr1c.cloudfront.net/logo.png'>
		</a>
		<div class='site-actions'>
			<a href='/pack' id="pack-nav">Pack Creator</a>
			{{#if user}}
			<a href='/user/packs' id="user-pack-nav">My Packs</a>
			{{/if}}
			<a href='/completed' id="community-pack-nav">Community Packs</a>
			<a href="/blog" id="about-nav">About</a>
		</div>
	</nav>
</nav>
<nav id="main-side" class="sidebar mobile-sidebar">
	<a href='/pack'>Pack Creator</a>
	{{#if user}}
	<a href="/user/packs">My Packs</a>
	{{/if}}
	<a href='/completed'>Community Packs</a>
	<a href='/blog'>About</a>
	<div class="div-line"></div>
	{{#if user}}
	{{#if (eq user.accessLevel 11)}}
	<a href="/admin#dashboard" class="subnav">Admin</a>
	{{/if}}
	<a href="/user/account" class="subnav">Account</a>
	{{else}}
	<a href='/user/login' class="subnav">Login</a>
	{{/if}}
	<a href='/help' class="subnav">Help</a>
	{{#if user}}
	<a href="/user/logout" class="subnav">Logout</a>
	{{/if}}
</nav>
<nav class="mobile-nav">
	{{>sidebarMobile relId="main-side"}}
	<a href='/' class="mobile-logo">
		<img src='https://d1dfp97r2mlr1c.cloudfront.net/logo.png'>
	</a>
	<a class="mobile-logo" href='{{#if user}}/user/account{{else}}/user/login{{/if}}'>
		{{> icons/account}}
	</a>
</nav>