<button class="share-pack-button data-button" data-pack-id="{{buildData._id}}">
  {{> icons/share}}
</button>
<div class="modal hidden" id="share-modal">
    <div class="modal-content share-build">
        <h2>Share</h2>
        <span>
            <input readonly id="share-pack-input"
                value="www.mypackpacker.com/{{#if buildData.published}}completed{{else}}packs{{/if}}/{{buildData._id}}"
                class="share-input">
            <button class="data-button" id="copy-share">copy</button>
        </span>
        <div class="lone-button">
            <button class="data-button" id="share-pack-cancel">close</button>
        </div>
    </div>
</div>
{{#unless @root.shareScriptLoaded}}
{{assign 'shareScriptLoaded' true}}
<script src="/js/share.js"></script>
{{/unless}}