<main class='category-page sidebar-layout'>
    {{>sidebarMobile relId="cat-side"}}
    <div id="cat-side" class="sidebar">
        {{>filtersAndSort user=user filterData=filterData}}
    </div>
    <div id="category-body">
    </div>
    <div class="loading-container" id="loading-notif">
        <img src="https://d1dfp97r2mlr1c.cloudfront.net/Pendulum.gif">
    </div>
</main>
<script src='/js/category.js'></script>