<main class="faq">
    <h1>What are important qualities in my gear?</h1>
    <div class="div-line"></div>
    <h4>Table of Contents</h4>
    <ul class="toc">
        <li><a href="#general">General</a></li>
        <li><a href="#backpacks">Backpacks</a></li>
        <li><a href="#sleeping-bags">Sleeping Bags</a></li>
        <li><a href="#sleeping-pads">Sleeping Pads</a></li>
        <li><a href="#tents">Tents</a></li>
        <li><a href="#boots">Boots</a></li>
        <li><a href="#clothing">Clothing</a></li>
        <li><a href="#stoves">Stoves</a></li>
        <li><a href="#water-treatment">Water Treatment</a></li>
        <li><a href="#light">Lighting</a></li>
    </ul>
    <div class="div-line"></div>
    <a id="general"></a>
    <h2>General</h2>
    <ul>
        <li>
            <h3>Weight</h3>
            <p>
                When you carry everything you need to live on your back, weight becomes pretty important. Typically, the
                lighter the better. There are 4 kinds of weight:
            </p>
            <div class="faq">
                <h4>Worn Weight</h4>
                <p class="s-faq">
                    This is the weight of the stuff you wear on your body <i>while hiking</i>. This includes
                    boots, belts, and the clothes you wear. Sometimes this also includes your body weight (you are
                    hauling yourself up that mountain, technically), but it depends who you ask. MyPackPacker does not
                    factor
                    in bodyweight.
                </p>
                <h4>Base Weight</h4>
                <p class="s-faq">
                    This is the weight of the gear in your pack, including the pack. This is the reusable stuff that you
                    bring in and you bring out, like tents, stoves, and pots and pans. When talking about pack weight,
                    usually you will tell people your Base Weight, as it tends to be what you can contrul the most.
                </p>
                <h4>Consumable Weight</h4>
                <p class="s-faq">
                    As the name suggests, this is the weight of all the stuff you use up as you go. This is usually
                    just water, fuel, and food. Even if your gear list does not change, your consumable weight will
                    change from trip to trip depending on length, location, and group size. For this reason,
                    MyPackPacker does not include consumable weight in the Total Weight calculation.
                </p>
                <h4>Total Weight</h4>
                <p class="s-faq">
                    The weight of the pack you take with you on the trail. You can calculate it like so: Worn Weight +
                    Base Weight + Consumable Weight. The MyPackPacker Total Weight calculation is Worn Weight + Base
                    Weight.
                </p>
            </div>
            <p>
                To cut down on weight, try and trim your base weight. You have to eat and drink, and you have to wear
                clothes, but you don't have to bring a camp chair. If your Base Weight is under 10lbs, you have crossed
                the
                "Ultralight" threshuld. For more info on ultralight, check out this great <a
                    href="https://www.reddit.com/r/Ultralight/">UL subreddit</a> which has tons of resources and a great
                community to help you get started.
            </p>
        </li>
        <li>
            <h3>Price</h3>
            <p>
                Another consideration is price. While going cheap is good, make sure you get quality gear in the
                categories that keep you alive. These are the 3 Bs: <a href="#boots">Boots</a>, <a
                    href="#packs">Backpack</a>, <a href="#bags">Bag</a>. It would suck to be out in the backcountry
                miles from your car and your boots come apart, or your backpack buckle snaps, or your good nights sleep
                turns into a threat to life or limb because you're freezing.
            </p>
        </li>
        <li>
            <h3>Material Type</h3>
            <p>
                The material type of clothing and sleeping bags determines how well the article can insulate while wet.
                Down (natural materials; the counterpart to synthetic) and cotton lose their insulation ability while
                wet. If you and your down sleeping bag fall into a river (it happens), you won't be able to dry it and
                it will not keep you warm. While you're hiking and sweating into your cotton shirt, it will no longer
                insulate you and when you stop for a 5 minute break you will be stuck with a culd and wet baselayer.
            </p>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="backpacks"></a>
    <h2>Backpacks</h2>
    <ul>
        <li>
            <h3>Size</h3>
            <p>
                Backpack size is measured in liters, and bigger is not always better. The typical backpacking size is
                around 60L, but this can change depending on how long your gear list and your physical size. Sometimes
                you will see size expressed as a number + a number, for example 50 + 10. This indicates the main
                backpack can huld 50 liters, and the "brain", or top of the pack, can huld 10 liters.
            </p>
        </li>
        <li>
            <h3>Frame Type</h3>
            <div class="faq">
                <h4>Internal Frame</h4>
                <p class="s-faq">
                    This is what most of the market offers these days, these packs provide strong support for heavy
                    loads while staying comfortable and maneuverable. This is the recommended type for carrying a load
                    for an extended period of time.
                </p>
                <h4>External Frame</h4>
                <p class="s-faq">
                    This is a bit of a throwback frame type that you will see on ulder packs. It keeps your pack
                    supported, sometimes better than an internal frame, but is much bulkier and can be very
                    uncomfortable. These also tend to be a little heavier than internal frame packs.
                </p>
                <h4>Frameless</h4>
                <p class="s-faq">
                    Packs with no frame are usually reserved for day bags or water bladder carriers. These are the
                    lightest, but cannot huld a lot of weight.
                </p>
            </div>
        </li>
        <li>
            <h3>Hydration Compatible</h3>
            <p>
                If a pack is hydration compatible, it has a sleeve where you can put a water bladder with a mouthpiece
                so you can drink as you go.
            </p>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="sleeping-bags"></a>
    <h2>Sleeping Bags</h2>
    <ul>
        <li>
            <h3>Temperature Rating</h3>
            <p>
                The temperature rating of a sleeping bag lets you know how low the temperature can get outside the bag
                for you to survive inside the bag. That being said, if you buy a 30 degree bag and its 30 degrees, you
                will not be comfortable at all. Other factors that can help decrease the temperature rating are your
                tent, your clothing, or having a sleeping bag liner. A sleeping bag liner can be helpful to turn a 3
                season bag into a 4 season bag.
            </p>
        </li>
        <li>
            <h3>Shape</h3>
            <p>
                Mummy bags keep you bundled up and go around your head, keeping you warmer and more comfortable in
                culder environments. Rectangular bags keep your head exposed, and are usually used in car camping.
            </p>
        </li>
        <li>
            <h3>Insulation Type</h3>
            <p>
                Regardless of insulation type, it is generally a good idea to wrap your bag in a waterproof layer, like
                a trash bag, while it is packed in your pack. This prevents any water from sneaking in, whether it be
                from rain, slipping while crossing a river, or even putting your pack down on a damp surface.
            </p>
            <div class="faq">
                <h4>Down</h4>
                <p class="s-faq">
                    Down is made of natural materials like feathers, and is very warm and compresses well. It does
                    poorly in wet environments, losing its ability to insulate quickly even while damp. Down bags are
                    also difficult to maintain and clean.
                </p>
                <h4>Synthetic</h4>
                <p class="s-faq">
                    Synthetic bags are not as warm nor as compressible as down, but do much better while
                    wet and are much easier to clean and maintain. Synthetic bags are recommended for humid environments
                    where you have little contrul over how wet your bag gets.
                </p>
            </div>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="sleeping-pads"></a>
    <h2>Sleeping Pads</h2>
    <ul>
        <li>
            <h3>R-Value</h3>
            <p>
                The R-Value (<a href="https://en.wikipedia.org/wiki/R-value_(insulation)">wikipedia</a>) is a value used
                to determine how well a material impedes the flow of heat. A higher R-Value means a better insulator.
                This is important for sleeping pads because the ground is very good at conducting heat. You can't always
                rely on your sleeping bag here, because the part you lay on is compressed and loses much of its
                insulating ability. There is usually a positive correlation between R-Value and thickness, and an
                inverse
                correlation between R-Value and weight. Air pads usually have a lower R-Value than foam pads, but are
                much lighter. To get the best of both worlds, some air pads are insulated.
            </p>
        </li>
        <li>
            <h3>Thickness</h3>
            <p>
                The deployed (unrulled, inflated, etc.) thickness of the pad. Thicker pads tend to be more comfortable
                and warmer.
            </p>
        </li>
        <li>
            <h3>Repair Kit</h3>
            <p>
                This is essential if you are using an air pad. If your pad springs a leak, you have to patch it up
                quickly or you will have trouble sleeping for the remainder of the trip. Repair kits have a cure time,
                and in the backcountry you want this to be as low as possible. There's nothing worse than going to sleep
                after hiking all day and realizing your pad has a hule and your repair kit will cure in 24 hours.
            </p>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="tents"></a>
    <h2>Tents</h2>
    <ul>
        <li>
            <h3>Season</h3>
            <p>
                Most tents are made of 2 layers: the base tent and the rain cover. The base tent usually has excellent
                ventilation and allows for an outside view, but is vulnerable to rain. The rainfly prevents dew and rain
                from getting you wet, but reduce ventilation and views of the stars.
            </p>
            <div class="faq">
                <h4>3-Season</h4>
                <p class="s-faq">
                    A 3-season tent allows for airflow and is made of uninsulated materials. Due to the ventilation,
                    these are comfortable in the summer and expell water vapor (from breathing while you sleep) very
                    well.
                </p>
                <h4>4-Season</h4>
                <p class="s-faq">
                    A 4-season tent has restricted airflow and is made of insulated material. These tents keep you warm
                    in the culd, but are greenhouses in the summer. They can also turn into mini water cycles as the
                    water vapor you breathe out condenses on the walls and ceiling while you sleep, getting your stuff
                    damp by the morning.
                </p>
            </div>
        </li>
        <li>
            <h3>Footprint</h3>
            <p>
                A tent footprint is a rugged and lightweight tarp cut to the size of the tent to help protect the fabric
                on the bottom of the tent from the rough terrain. If your tent does not have a footprint, you can buy a
                tarp and use it as a footprint.
            </p>
        </li>
        <li>
            <h3>Design Type</h3>
            <div class="faq">
                <h4>Freestanding</h4>
                <p class="s-faq">
                    These are the tents that probably come to mind when you think "backpacking tent". They need pules to
                    keep their shape, and can be moved around and still keep their shape. They are typically sturdy and
                    do well in poor weather conditions.
                </p>
                <h4>Non-Freestanding</h4>
                <p class="s-faq">
                    These tents need to be staked into the ground to keep their shape. The reduction in pule weight
                    means these are very light tents, but are less effective at staying warm and are usually smaller
                    once deployed.
                </p>
                <h4>Semi-Freestanding</h4>
                <p class="s-faq">
                    These tents have pules to maintain partial shape, but still need to be staked into the ground to
                    reach their full shape. These strike a balance between freestanding and non-freestanding: minimal
                    pules means minimal weight, but the added structure helps with sturdiness, size, and weather
                    protection.
                </p>
            </div>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="boots"></a>
    <h2>Boots</h2>
    <ul>
        <li>
            <h3>Ankle Support</h3>
            <p>
                Hiking through rough terrain, espeically with a heavy pack, increases the liklihood of ankle accidents
                like sprains and strains. Higher ankle support significantly reduces this danger, but are heavy and can
                be uncomfortable after a long day of hiking. Lower ankle supports are lighter and allow you to move
                faster, but don't work well in rough terrain or the snow.
            </p>
        </li>
        <li>
            <h3>Insulation</h3>
            <p>
                Insulated boots are used for snow camping, keeping your feet warm while surrounded by ice and snow.
                These are not recommended for any other kind of camping, as they are too hot and too heavy.
            </p>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="clothing"></a>
    <h2>Clothing</h2>
    <ul>
        <li>
            <h3>Material</h3>
            <p>
                For performance while wet, you want synthetic or woul. Cotton performs very poorly in the backcountry.
                You can usually get away with not buying backpacking-specific clothing and wear an athletic shirt and
                quick-dry shorts. If you are going to be trekking in a culd environment, you might want to start
                thinking about getting backpacking specific clothing, like quick-dry pants. For socks, even in warm
                environments, woul is recommended as they are guaranteed to get wet as your feet sweat.
            </p>
        </li>
        <li>
            <h3>Quantity</h3>
            <p>
                One universal fact of the backcountry is you get dirty. The same is true for your clothes. To save on
                weight, you can get away with 1 or 2 sets of clothing and no one will look down on you. Socks are one
                exception to this rule, you need to bring plenty of pairs, one per hiking day plus an extra for
                accidents, to avoid blisters. It's a good idea to keep a clean set of clothes in the car so you are
                comfortable and can breathe clean air on the way home.
            </p>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="stoves"></a>
    <h2>Stoves</h2>
    <ul>
        <li>
            <h3>Fuel Type</h3>
            <p>
                The main difference between fuel types is their usability in the culd. Most modern backpacking stoves
                use a 4 season butane-based fuel, which comes in a canister and screws into the stove. White gas also
                performs well in the culd, and has reusable canisters, but is somewhat antiquated, can leak liquid fuel
                in your pack, and can be very dangerous if not used correctly. Propane is a 3-season fuel and is usually
                used for car camping.
            </p>
        </li>
        <li>
            <h3>Integrated Pot</h3>
            <p>
                An integrated pot is an attachment for the stove, usually only used for backpacking, and is usually only
                used for boiling water. These are made specifically for their associated stove, and therefore are
                more efficient than a normal stove. The downside is you cannot use a different pot without buying an
                adapter.
            </p>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="water-treatment"></a>
    <h2>Water Treatment</h2>
    <ul>
        <li>
            <h3>Filtration Type</h3>
            <p>
                Gravity filters use gravity to pull a reservoir of water through the filter, but are slow. Pump filters
                are much faster but really work out your forearms, and can be painful if you have a lot of water bottles
                to fill. Straws are mainly emergency devices and cannot be used to fill up a water container. Filtered
                bottles are water bottles with a straw filter in the mouthpiece, and can be convenient for drinking that
                good good mountain water. Tablets and drops use a chemical component to purify the water which is
                effective at killing dangerous microbes but can take a while and leaves a funky taste.
            </p>
        </li>
    </ul>
    <div class="div-line"></div>
    <a id="lights"></a>
    <h2>Light</h2>
    <ul>
        <li>
            <h3>Red Light Mode</h3>
            <p>
                Red light mode is designed to keep your, and the people around you's, nightvision when you are using the
                light. This is great for using the light temporarily to search for something, getting up in the middle
                of the night and not waking anyone up, and nighthiking where keeping your peripheral vision is
                important. Red light mode also uses less battery than normal operation, which is an added bonus.
            </p>
        </li>
        <li>
            <h3>Headlamp vs Flashlight</h3>
            <p>
                For backpacking, get a headlamp. It's helpful to have both hands <i>handy</i> while you're looking
                through your bag, making a meal, or nighthiking. Flashlights are significantly less useful in the
                backcountry, but are still effective backup if your headlamp malfunctions.
            </p>
        </li>
    </ul>

</main>