<main class='category-page sidebar-layout'>
    {{>sidebarMobile}}
    <div class="sidebar">
        {{>filtersAndSort user=user filterData=filterData}}
    </div>
    <div id="category-body"></div>
</main>
<script src='/js/category.js'></script>