{{#if success}}
<main>
    <h2>All Done!</h2>
    <p>All of your devices have been logged out. Login with your new password <a href="/user/login">here</a>.</p>
</main>
{{else if tempUser}}
<main>
    <h2>Thanks for confirming your identity, {{tempUser.username}}</h2>
    <div>
        <p>To change your password, complete the fields below.</p>
    </div>
    <span id="NoMatch" class="delete error-msg hidden" data-linked-input="login-entry">
        The passwords do not match
    </span>
    <span id="EmptyField" class="delete error-msg hidden" data-linked-input="login-entry">
        Please enter a new password
    </span>
    <form class="b-form jq-override-form" method='post' action='/user/account/reset'>
        <input class="hidden" name="tuid" value="{{uid}}" id="tuid">
        <div class="label-group">
            <label for="pass1">New Password</label>
            <input type="password" class="login-entry" id="pass1" name="pass1">
        </div>
        <div class="label-group">
            <label for="pass2">New Password Again</label>
            <input type="password" class="login-entry" id="pass2" name="pass2">
        </div>
        <input type="submit" value="Change Password" class="login-button">
    </form>
</main>
<script src="/js/jqOverride.js"></script>
{{else}}
<main>
    <h2>Not found</h2>
    <p>Either the URL you entered has expired or it has a typo. Please request a password reset email again at the login
        page <a href="/user/login">here</a>.</p>
</main>
{{/if}}