<main class='signup-page-container'>
    <div class='signup-container'>
        <div class='login-container'>
            <h3 class='login-header'>Sign Up</h3>
            <div class="secondary-login-container">
               <p>Already have an account? </p>
               <a class="secondary-login" href='/user/Login'>Login</a>
            </div>
            <form class='login-form' method='post' action='/user/signup'>
                <div class='label-group'>
                    <label for='signup-username'>Username</label>
                    <input type='text' name='username' id='signup-username' class='signup-entry'>
                </div>
                <div class='label-group'>
                    <label for='signup-email'>Email</label>
                    <input type='text' name='email' id='signup-email' class='signup-entry'>
                </div>
                <div class='label-group'>
                    <label for='signup-password'>Password</label>
                    <input type='password' name='password' id='signup-password' class='signup-entry'>
                </div>
                {{#each errors}}
                <p>{{this}}</p>
                {{/each}}
                 <input type='submit' id='signup-submit' class='login-button'>
            </form>
            <div class="div-line"></div>
            <a class="google-button" href="/user/login/google">
                <button style="display: flex; align-items: center; justify-content: space-between; padding: 8px; border: thin solid #757575; box-shadow:1px 1px 1px #757575; color:#757575; width:180px; height:40px; border-radius:3%; font-size: 14px; font-family: Roboto">
                    <img src="https://www.iconfinder.com/data/icons/social-media-2210/24/Google-512.png" style="width:30px; background:white; border-radius:50%; position: relative; left: -5px;" alt="">
                    <b style="text-decoration-style: none; text-align: center;">Sign In With Google</b>
                </button>
            </a>
        </div>
    </div>
</main>