<script src='/js/userpack.js'></script>
<main class="sidebar-layout user-packs-main">
    {{>sidebarMobile relId="up-side"}}
    <nav id="up-side" class='sidebar'>
        {{#each userPacks}}
        <a href='#' id="{{this._id}}-button"
            class="side-nav-button pack-set-active {{#if (idEq this._id ../user.activePackId)}}tab-selected pack-active{{/if}}"
            data-pack-id={{this._id}}>{{this.displayName}}</a>
        {{/each}}
        <a href='#' id='new-button' class="new-button">Create New</a>
    </nav>
    <div class="sidebar-main">
        {{#each userPacks}}
        <div id={{this._id}} class="pack-tab {{#unless (idEq this._id ../user.activePackId)}}hidden{{/unless}}">
            <div class="build-share-crud">
            {{>packCRUD pack=this user=../user}}
            </div>
            {{>categoryTable categoryList=../categoryList buildData=this editable=false user=../user userSavedObj=../userSavedObj userOwnedObj=../userOwnedObj}}
        </div>
        {{/each}}
    </div>
</main>